############################################################################
# T4.cfg - Toolhead 4 (EBB36 V1.2) - KTC-Easy / OrcaSlicer Multi-Color
#
# Board  : BIGTREETECH EBB36 V1.2 (STM32G0B1, CAN bus)
# Hotend : TZ V6 2.0  |  Extruder: WW BMG
# Tool   : T4; production XYZ offsets are preserved in printer.cfg SAVE_CONFIG.
#
# Official documentation:
#   https://stealthchanger.com/software/ktc-easy/examples/
############################################################################

############################################################################
# MCU
############################################################################

[mcu EBB4]
canbus_uuid: 28650279df58
canbus_interface: can0

############################################################################
# ADXL345 - Input Shaper
############################################################################

[adxl345 T4]
cs_pin: EBB4:PB12
spi_software_sclk_pin: EBB4:PB10
spi_software_mosi_pin: EBB4:PB11
spi_software_miso_pin: EBB4:PB2
axes_map: x,z,-y

############################################################################
# extruder4 - WW BMG + TZ V6 2.0
############################################################################

[extruder4]
step_pin: EBB4:PD0
dir_pin: !EBB4:PD1
enable_pin: !EBB4:PD2
heater_pin: EBB4:PB13
sensor_pin: EBB4:PA3
sensor_type: Generic 3950

microsteps: 16
rotation_distance: 22.059
gear_ratio: 50:10
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 290
max_extrude_only_distance: 101

# pressure_advance: 0.03  # Calibrate and uncomment after measuring.
# control/pid_kp/ki/kd are not declared here; SAVE_CONFIG writes them after PID_CALIBRATE.

############################################################################
# TMC2209
############################################################################

[tmc2209 extruder4]
uart_pin: EBB4:PA15
run_current: 0.6
stealthchop_threshold: 0

############################################################################
# FANS
############################################################################

[heater_fan T4_hotend_fan]
pin: EBB4:PA0
heater: extruder4
heater_temp: 50.0

[fan_generic T4_part_fan]
pin: EBB4:PA1

############################################################################
# TOOL DEFINITION - KTC-Easy
############################################################################

[tool T4]
tool_number: 4
extruder: extruder4
fan: T4_part_fan
detection_pin: ^!EBB4:PB6

# Dock position in nozzle coordinates; must be aligned on the real machine.
params_park_x: 321.5 #321
params_park_y: 2.6 #3.1
params_park_z: 343

# Standby temperature while parked; KTC manages this automatically after each dropoff.
params_standby_temp: 150
params_heater_standby_delay: 0.1

# Unified shuttle calibration from Cartographer ADXL345 (2026-09-03).
# Per-tool overrides are commented out so KTC-Easy uses the global [input_shaper] profile.
# params_input_shaper_freq_x: 43.6
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_damping_ratio_x: 0.124
# params_input_shaper_freq_y: 33.4
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_damping_ratio_y: 0.080

############################################################################
# NEOPIXEL - 3x WS2812
############################################################################

[neopixel T4_LED]
pin: EBB4:PD3
color_order: GRB
chain_count: 3
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

############################################################################
# GCODE MACRO T4 - KTC-Easy; do not change the variable structure.
############################################################################

[gcode_macro T4]
description: Mount toolhead T4
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=4

############################################################################
# FILAMENT SENSOR - 3-layer noise filter
#
# Layer 1: event_delay 0.5 s blocks event spam in Klipper.
# Layer 2: delayed_gcode 0.5 s waits for an additional confirmation window.
# Layer 3: _FILAMENT_RUNOUT_HANDLE rechecks the actual sensor state.
############################################################################

[filament_switch_sensor filament_sensor_T4]
switch_pin: ^EBB4:PB9
pause_on_runout: False
event_delay: 0.5
pause_delay: 0.5
runout_gcode:
    UPDATE_DELAYED_GCODE ID=_FILTER_RUNOUT_T4 DURATION=0.5
    RESPOND MSG="[T4] Filament sensor reports runout; waiting for confirmation..."
insert_gcode:
    UPDATE_DELAYED_GCODE ID=_FILTER_RUNOUT_T4 DURATION=0
    RESPOND MSG="[T4] Filament sensor recovered; canceling debounce counter"

[delayed_gcode _FILTER_RUNOUT_T4]
gcode:
    _FILAMENT_RUNOUT_HANDLE T=4
