############################################################################
# T2.cfg - Toolhead 2 (EBB36 V1.2) - KTC-Easy / OrcaSlicer Multi-Color
#
# Board  : BIGTREETECH EBB36 V1.2 (STM32G0B1, CAN bus)
# Hotend : TZ V6 2.0  |  Extruder: WW BMG
# Tool   : T2, offset calibrated with CALIBRATE_ALL_OFFSETS.
#
# Official documentation:
#   https://stealthchanger.com/software/ktc-easy/examples/#ebb36-v12-t2-non-tap
############################################################################

############################################################################
# MCU
############################################################################

[mcu EBB2]
canbus_uuid: 4ad9d622a836
canbus_interface: can0

############################################################################
# ADXL345 - Input Shaper
############################################################################

[adxl345 T2]
cs_pin: EBB2:PB12
spi_software_sclk_pin: EBB2:PB10
spi_software_mosi_pin: EBB2:PB11
spi_software_miso_pin: EBB2:PB2
axes_map: x,z,-y

############################################################################
# EXTRUDER2 - WW BMG + TZ V6 2.0
############################################################################

[extruder2]
step_pin: EBB2:PD0
dir_pin: !EBB2:PD1
enable_pin: !EBB2:PD2
heater_pin: EBB2:PB13
sensor_pin: EBB2:PA3
sensor_type: Generic 3950

microsteps: 16
rotation_distance: 22.277
gear_ratio: 50:10
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 290
max_extrude_only_distance: 101

# pressure_advance: 0.03  # Calibrate and uncomment after measuring.
# control/pid_kp/ki/kd are not declared here; SAVE_CONFIG writes them after PID_CALIBRATE.

############################################################################
# TMC2209
############################################################################

[tmc2209 extruder2]
uart_pin: EBB2:PA15
run_current: 0.6
stealthchop_threshold: 0

############################################################################
# FANS
############################################################################

[heater_fan T2_hotend_fan]
pin: EBB2:PA0
heater: extruder2
heater_temp: 50.0

[fan_generic T2_part_fan]
pin: EBB2:PA1

############################################################################
# TOOL DEFINITION - KTC-Easy
############################################################################

[tool T2]
tool_number: 2
extruder: extruder2
fan: T2_part_fan
detection_pin: ^!EBB2:PB6

# Dock position in nozzle coordinates; must be aligned on the real machine.
params_park_x: 176
params_park_y: 1.6 #2.1
params_park_z: 343

# Standby temperature while parked; KTC manages this automatically after each dropoff.
params_standby_temp: 150
params_heater_standby_delay: 0.1

# Unified shuttle calibration from Cartographer ADXL345 (2026-09-03).
# Per-tool overrides are commented out so KTC-Easy uses the global [input_shaper] profile.
# params_input_shaper_freq_x: 43.6
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_damping_ratio_x: 0.124
# params_input_shaper_freq_y: 33.4
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_damping_ratio_y: 0.080

############################################################################
# NEOPIXEL - 3x WS2812
############################################################################

[neopixel T2_LED]
pin: EBB2:PD3
color_order: GRB
chain_count: 3
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

############################################################################
# GCODE MACRO T2
############################################################################

[gcode_macro T2]
description: Mount toolhead T2
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=2

############################################################################
# FILAMENT SENSOR
############################################################################

[filament_switch_sensor filament_sensor_T2]
switch_pin: ^EBB2:PB9
pause_on_runout: False
event_delay: 0.5
pause_delay: 0.5
runout_gcode:
    UPDATE_DELAYED_GCODE ID=_FILTER_RUNOUT_T2 DURATION=0.5
    RESPOND MSG="[T2] Filament sensor reports runout; waiting for confirmation..."
insert_gcode:
    UPDATE_DELAYED_GCODE ID=_FILTER_RUNOUT_T2 DURATION=0
    RESPOND MSG="[T2] Filament sensor recovered; canceling debounce counter"

[delayed_gcode _FILTER_RUNOUT_T2]
gcode:
    _FILAMENT_RUNOUT_HANDLE T=2
