###########################################################################
# T3.cfg - Toolhead 3 (EBB36 V1.2) - KTC-Easy / OrcaSlicer Multi-Color
#
# Board  : BIGTREETECH EBB36 V1.2 (STM32G0B1, CAN bus)
# Hotend : TZ V6 2.0  |  Extruder: WW BMG
# Tool   : T3, offset calibrated with CALIBRATE_ALL_OFFSETS.
#
# Official documentation:
#   https://stealthchanger.com/software/ktc-easy/examples/#ebb36-v12-t3-non-tap
############################################################################

############################################################################
# MCU
############################################################################

[mcu EBB3]
canbus_uuid: c2465b7c36f8
canbus_interface: can0

############################################################################
# ADXL345 - Input Shaper
############################################################################

[adxl345 T3]
cs_pin: EBB3:PB12
spi_software_sclk_pin: EBB3:PB10
spi_software_mosi_pin: EBB3:PB11
spi_software_miso_pin: EBB3:PB2
axes_map: x,z,-y

############################################################################
# EXTRUDER3 - WW BMG + TZ V6 2.0
############################################################################

[extruder3]
step_pin: EBB3:PD0
dir_pin: !EBB3:PD1
enable_pin: !EBB3:PD2
heater_pin: EBB3:PB13
sensor_pin: EBB3:PA3
sensor_type: Generic 3950

microsteps: 16
rotation_distance: 22.727
gear_ratio: 50:10
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 290
max_extrude_only_distance: 101

# pressure_advance: 0.03  # Calibrate and uncomment after measuring.

############################################################################
# TMC2209
############################################################################

[tmc2209 extruder3]
uart_pin: EBB3:PA15
run_current: 0.6
stealthchop_threshold: 0

############################################################################
# FANS
############################################################################

[heater_fan T3_hotend_fan]
pin: EBB3:PA0
heater: extruder3
heater_temp: 50.0

[fan_generic T3_part_fan]
pin: EBB3:PA1

############################################################################
# TOOL DEFINITION - KTC-Easy
############################################################################

[tool T3]
tool_number: 3
extruder: extruder3
fan: T3_part_fan
detection_pin: ^!EBB3:PB6

# Dock position in nozzle coordinates; aligned on the real machine.
params_park_x: 249.5
params_park_y: 2.5 #2.3
params_park_z: 343

# Standby temperature while parked; KTC manages this automatically after each dropoff.
params_standby_temp: 150
params_heater_standby_delay: 0.1

# Unified shuttle calibration from Cartographer ADXL345 (2026-09-03).
# Per-tool overrides are commented out so KTC-Easy uses the global [input_shaper] profile.
# params_input_shaper_freq_x: 43.6
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_damping_ratio_x: 0.124
# params_input_shaper_freq_y: 33.4
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_damping_ratio_y: 0.080

############################################################################
# NEOPIXEL - 3x WS2812
############################################################################

[neopixel T3_LED]
pin: EBB3:PD3
color_order: GRB
chain_count: 3
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

############################################################################
# GCODE MACRO T3
############################################################################

[gcode_macro T3]
description: Mount toolhead T3
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=3

############################################################################
# FILAMENT SENSOR
############################################################################

[filament_switch_sensor filament_sensor_T3]
switch_pin: ^EBB3:PB9
pause_on_runout: False
event_delay: 0.5
pause_delay: 0.5
runout_gcode:
    UPDATE_DELAYED_GCODE ID=_FILTER_RUNOUT_T3 DURATION=0.5
    RESPOND MSG="[T3] Filament sensor reports runout; waiting for confirmation..."
insert_gcode:
    UPDATE_DELAYED_GCODE ID=_FILTER_RUNOUT_T3 DURATION=0
    RESPOND MSG="[T3] Filament sensor recovered; canceling debounce counter"

[delayed_gcode _FILTER_RUNOUT_T3]
gcode:
    _FILAMENT_RUNOUT_HANDLE T=3
